<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style/style_login.css' %}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form id="login-form" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Login">
        </form>
        <p class="error-msg" id="error-msg"></p>
    </div>
    <script src="{% static 'scripts/script_login.js' %}"></script>
</body>
</html>
