<!DOCTYPE html>
{% extends 'main_app/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Change Password{% endblock %}</title>
</head>
<body>
    {% block content %}
    <div class="container-change-v2">
        <h1 class="pch1">Password Change Successful</h1>
        <p class="pcp">Your password has been changed successfully.</p>
        <p class="pclink"><a class="pclink" href="{% url 'main' %}">Go back to main page</a></p>
    </div>
{% endblock content %}
</body>
</html>