<!DOCTYPE html>
{% extends 'main_app/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Register{% endblock %}</title>
</head>
<body>
    {% block content %}
        <div class="container">
            <h1>Register</h1>
            <form id="login-form" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Register">
            </form>
            <p>Already have an account ? <a href="{% url 'login' %}">Login</a></p>
            <p class="error-msg" id="error-msg"></p>
        </div>
    {% endblock content %}
</body>
</html>