body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
}

form {
    margin-top: 30px;
}

form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.error-msg {
    color: #ff0000;
    text-align: center;
    margin-top: 10px;
}

.container-register {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.register-title {
    text-align: center;
    margin-bottom: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-p {
    margin-top: 20px;
}

.header-bar-delete {
  background-color: #6846fc;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-bar-delete a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header-bar-delete a:hover {
  color: #9666f0;
}

.card-body-delete {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.form-delete {
  margin-top: 30px;
}

.p-delete {
  font-size: 24px;
  color: #333;
  margin-bottom: 30px;
}

.button-delete {
  padding: 10px 20px;
  background-color: #548df7;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-delete:hover {
  background-color: #181818;
}

.container-update-user {
  width: 300px;
  margin: 0 auto;
}

.update-user-title {
  text-align: center;
  font-size: 24px;
  margin-top: 40px;
}

.update-user-form {
  margin-top: 20px;
}

.update-user-button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.pch1 {
  text-align: center;
  margin-top: 50px;
}

.change-password {
  max-width: 300px;
  margin: 0 auto;
}


.container-change-v2 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.pch1 {
    font-size: 24px;
    font-weight: bold;
}

.pcp {
    font-size: 16px;
    margin-top: 10px;
}

.pclink {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: blue;
}

.pclink:hover {
    text-decoration: underline;
}